<form [formGroup]="recipeForm" novalidate>
  <div mat-dialog-title>Add recipe</div>
  <mat-form-field>
    <input matInput placeholder="Add title" formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Add description" formControlName="description"></textarea>
  </mat-form-field>
  <input type="file" formControlName="photoUrl" (change)="onAddFile($event.target.files)"/>
  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="recipeForm.value" [disabled]="recipeForm.invalid">Add</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
