<div class="container" [class.is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="toolbar">
    <h1 class="app-name">Simple Recipes</h1>
    <div>
      <button mat-icon-button routerLinkActive="active" matTooltip="Show All" routerLink='/all-recipes'><mat-icon>view_list</mat-icon></button>
      <button mat-icon-button (click)="openDialog()" matTooltip="Add Recipe"><mat-icon>add</mat-icon></button>
      <button mat-icon-button (click)="snav.toggle()" matTooltip="Menu"><mat-icon>menu</mat-icon></button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" position="end">
      <app-search 
        (onChangeNameFilter)='onChangeNameFilter($event)'>
      </app-search>
      <mat-nav-list class="nav-list">
        <app-category
          *ngFor="let category of categories" 
          [category]='category'
          [nameFilter]='nameFilter'
          (onSelectCategory)='onSelectCategory($event)'>
        </app-category>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <app-recipes-content [options]='options'></app-recipes-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>