<div class="container" [class.is-mobile]="mobileQuery.matches" *ngIf="currRecipe">
  <mat-toolbar color="primary" class="toolbar">
    <h1 class="app-name">Simple Recipes</h1>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" position="end">
      <input class="input-filter" type="text" [(ngModel)]="nameFilter" placeholder="search">           
      <button mat-icon-button [disabled]="!nameFilter" (click)="nameFilter=''">
        <mat-icon aria-label="Clear">highlight_off</mat-icon>
      </button>      
      <mat-nav-list class="nav-list">
        <ng-container *ngFor="let recipe of recipes | async">
          <a *ngIf="recipe.title.toLowerCase().includes(nameFilter.toLowerCase())" mat-list-item (click)="setCurrRecipe(recipe)"> 
            <img src="{{recipe.photoUrl}}" alt="{{recipe.title}}" class="photo-thumbnail"
              onError="this.src='assets/images/no-photo.png'"> 
            <span [innerHTML]="recipe.title | highlight: nameFilter"></span>
          </a>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <ng-container>
          <app-recipes-content [currRecipe]='currRecipe'></app-recipes-content>     
      </ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>