
<!-- <div class="recipes-wrapper">
  <div *ngFor="let recipe of recipes" class="recipe-item">
      <h1>{{recipe.title}}</h1>
      <div class="photo-container">
        <img src={{recipe?.photoUrl}} alt="{{recipe?.title}}" onError="this.src='assets/images/no-photo.png'">
      </div>  
      <p>{{recipe.description}}</p>  
  </div>
</div> -->

<mat-card *ngFor="let recipe of recipes" class="recipe-item">
  <mat-card-header>
    <mat-card-title>{{recipe.title}}</mat-card-title>
  </mat-card-header>
    <img mat-card-image src={{recipe?.photoUrl}} alt="{{recipe?.title}}" onError="this.src='assets/images/no-photo.png'">
  <mat-card-content>
    <p>
      {{recipe.description | truncate : 20}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button routerLink="{{recipe.id}}">Read more</a>
    <button mat-icon-button>
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon aria-label="Delete" (click)="deleteRecipe(recipe)">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>